In [1]:
import pandas as pd

In [2]:
people = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'City': ['X', 'Y', 'X', 'Z'],
    'Sales': [200, 150, 300, 250]
})

In [3]:
# ✅ Practice 1: Filter rows
people[people['Sales'] > 200]

  Name City  Sales
2    C    X    300
3    D    Z    250

In [4]:
# ✅ Practice 2: Group and Aggregate
people.groupby('City')['Sales'].sum()

City
X    500
Y    150
Z    250
Name: Sales, dtype: int64

In [5]:
# ✅ Practice 3: Ranking and Cumulative Sum
people['Rank'] = people['Sales'].rank()
people['Cumulative'] = people['Sales'].cumsum()

In [8]:
people['Sales'] = people['Sales'].fillna(0)
print("Used alternative approach. Result:")
print(people)

Used alternative approach. Result:
  Name City  Sales  Rank  Cumulative
0    A    X    200   2.0         200
1    B    Y    150   1.0         350
2    C    X    300   4.0         650
3    D    Z    250   3.0         900